/* 共通スタイルは外に書く */
.p-footer{
  width: 90%;
  margin-left: 10%;
  padding: 30px;
  background-color: #FFC97E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-footerMenu__list{
  display: flex;
  gap: 20px;
}

.p-footerMenu__listItem:not(:last-of-type)::after{
  content: "/";
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
}

.p-footerMenu__listItem--link,
.p-footer__copy--text{
  color: #ffffff;
}

@media screen and (min-width: 796px) { /* pc用スタイル */


}

@media screen and (max-width: 795px) { /* sp用スタイル */


}